.treatment-detail-container{
    .treatment-detail-img-container{
        overflow: hidden;
        width: 70%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .treatment-content{
        width: 70%;
    }
}